// VARIABLES
$base				= #FFFCEB
$global_white		= #ffffff
$yellow				= #FFDE00
$orange				= #FF9640
$dark_yellow		= #EECF00
$black				= #000000
$pink				= #FF89D0
$blue				= #49C9F2


$box_shadow			= 0px 10px 5px 0px rgba(121,151,173,0.3)

$tablet_breakpoint  = 769px
$desktop_breakpoint	= 1100px
$default_breakpoint	= 1400px
$lg_breakpoint 		= 1600px